[user]
	name = Edgar Fisher
	email = fisher.edgar@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/edgar/.gitignore_global
[branch]
	autosetuprebase = always
[alias]
    br = branch
    ci = commit -a -v
    co = checkout
    df = diff --word-diff
    g = grep -I
    lg = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
    st = status --ignore-submodules -sb
    mg = merge --no-commit
	fp = ftp push
	fi = ftp init -A
[credential]
	helper = cache --timeout=3600
[merge]
[push]
	default = simple
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /private/var/folders/2x/bh5cfv5127x259vxjt5r49th0000gn/T/AppTranslocation/04CBA595-7C34-4EE8-A4CD-3319A7C51DF3/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/edgar/.stCommitMsg
[init]
	defaultBranch = master
